/* Custom styles for the menu items */
.container {
  padding: 20px;
}
h1{
  font-family: cursive;
  color: #61481C;
  display: flex;
  justify-content: center;
}
.card {
  margin-bottom: 10px;
  background-color: #BF9742;
  border-radius: 10px;
  height: 350px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 5px;
}

/* Custom styles for the buttons */
.btn-primary {
  margin-right: 10px;
}

.btn-secondary {
  margin-right: 10px;
}

/* Custom styles for the cart items */
.cart-item {
  margin-bottom: 10px;
}

.cart-item p {
  margin-bottom: 5px;
}

/* Additional custom styles */
/* Add your own custom styles here */


/* style.css */

/* Margin and padding for the alert */
.alert {
  margin-bottom: 20px;
  padding: 10px;
}
label{
  font-family: cursive;
  font-weight: bold;
  color: #61481C;
}
/* Margin and padding for the container */
.container {
  margin-top: 20px;
  padding: 20px;
}

/* Margin and padding for the cart item card */
.card {
  margin-bottom: 20px;
  padding: 10px;
}

/* Margin and padding for the input fields */
input {
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  background-color: #BF9742;
  border-radius: 10px;
}

/* Margin and padding for the buttons */
.btn {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #61481C;
  color: whitesmoke;
  border-radius: 10px;
}
.a{
  text-align: center;
  font-size: 2rem;
  font-family:sans-serif;
  margin-top: 70px;
}
h5{
  font-family: cursive;
  color: #61481C;
}
hr{
  border: 1px solid #61481C;
}
p{
  font-family: cursive;
  color: #61481C;
}
.bi-dash,.bi-plus,.bi-trash
{
  color: whitesmoke;
}
select{
  width: 300px;
  border-radius: 10px;
  background-color: #BF9742;
}
.btn:hover{
  background-color: #BF9742;
 
}